<!doctype html>
<html lang="en">

<head>
  <title>Usuarios</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <!-- Custom CSS -->
  {% block customCSS %}
  
  {% endblock %}
  {% block script %}
  <script>
    function asking()
     {
       askingnya=confirm("Estás por eliminar un usuario!");         
       if (askingnya==true)
         {
           return True;             
         }
      else
         {
           return False;             
         }              
     }
     function myResetFunction() {
        document.getElementById("formChPass").reset();
        document.getElementById('error').style.display = 'none';
      }
      function verificarPasswords() {
      pass1 = document.getElementById('pass1');
      pass2 = document.getElementById('pass2');
      if (pass1.value != pass2.value){
        document.getElementById('error').style.display = 'block';
        return false;
      }
      else {
        document.getElementById('error').style.display = 'none';
        document.getElementById("ok").style.display= 'block';
        document.getElementById("login").setAttribute('disabled', '');
        return true;
      }
    }
    function forceDelete() {
      inputCheck = document. getElementById('chkDeleteStudent');

      if (inputCheck.checked) {
        document.getElementById('btnDeleteStudent').style.display = 'block'
      }else{
        document.getElementById('btnDeleteStudent').style.display = 'none'
      }

    }
    function resetForceDelete() {
        document.getElementById("chkDeleteStudent").reset();
        document.getElementById('btnDeleteStudent').style.display = 'none';
      }
      
     </script>
    
    {% endblock %}

</head>

<body>

    