{% include 'user_admin/header.html' %}

<header>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="{{ url_for('user_admin') }}" aria-current="page">Home</span></a>
            <a class="nav-item nav-link" href="{{ url_for('users_form') }}">Usuarios</a>
            <a class="nav-item nav-link" href="{{ url_for('careers_form') }}">Carreras</a>
            <a class="nav-item nav-link" href="{{ url_for('signatures_form') }}">Materias</a>
            <a class="nav-item nav-link" href="{{ url_for('teachers_form') }}">Profesores</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
          </div>
    </nav>
</header>
<div class="container">



{% include 'user_admin/footer.html' %}
  
  
  