{% include 'user_admin/header_forms.html' %}
{{ moment.include_moment() }}
<header>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
          {% if current_user.rol == 'admin' %}
          <a class="nav-item nav-link active" href="{{ url_for('user_admin') }}" aria-current="page">Inicio</span></a>
          {% endif %}
          {% if current_user.rol == 'aux' %}
          <a class="nav-item nav-link active" href="{{ url_for('user_aux') }}" aria-current="page">Inicio</span></a>
          {% endif %}<a role="button" class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Materias</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Cerrar Sesión</a>
            <p class="nav-item nav-link active"><strong> Dia y hora actual: {{ moment().format('DD-MM-YYYY hh:mm:ss') }}</strong></p>
          </div>

          
    </nav>
</header>
<div class="container">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Materia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/signatures/save" method="post">  
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="mb-3">
            <label for="txtName" class="form-label">Nombre</label>
            <input type="text" name="txtName" id="txtName" class="form-control" aria-describedby="helpId" required>
          </div>
          <div class="mb-3">
            <label for="txtCareerFrom" class="form-label">Carrera</label>
            <select class="form-select form-select-md" name="txtCareerFrom" id="txtCareerFrom">
            <option value="{{allCareers[0][2]}}" selected>{{allCareers[0][1]}}</option>
            {% for career in allCareers[1:] %}  
            <option value="{{career[2]}}">{{career[1]}}</option>
            {% endfor %}
            </select>
          </div>
          <div class="mb-3" id="txt">
            <label for="txtCode" class="form-label">Codigo <strong><span id="demo" style="color: orangered;"></span></strong></label> 
            <input type="number" onfocus="validar()" name="txtCode" id="txtCode" class="form-control"aria-describedby="helpId" required>
          </div>
          <input type="hidden" name="" id="maxCodeSignature" value="{{max_code}}">
          <script>
            function validar(){
            max_code = document.getElementById('maxCodeSignature').value
            val_max = parseInt(max_code, 10) + 1  
            val = document.getElementById('txtCareerFrom').value
            valSup = parseInt(val, 10) + 100
            document.getElementById('demo').innerHTML = "(debe estar entre "+val+ " y "+valSup+ ")"
            }
          </script>
          <!-- <div class="mb-3">
            <label for="txtTeacher" class="form-label">Docente</label>
            <select class="form-select form-select-md" name="txtTeacher" id="txtTeacher">
            <option value="{{allPersons[0][10]}}" selected>{{allPersons[0][1]}}</option>
            {% for person in allPersons[1:] %}  
            <option value="{{person[10]}}">{{person[1]}}</option>
            {% endfor %}
            </select>
          </div> -->
         <!-- <div class="mb-3">
            <label for="txtCareerFrom" class="form-label">Carrera</label>
            <input type="text" name="txtCareerFrom" id="txtCareerFrom" class="form-control" aria-describedby="helpId" required>
          </div>-->
          <input type="hidden" name="txtCreatedAt" id="txtCreatedAt" class="form-control" aria-describedby="helpId">
            <script>
              const dateInput = document.getElementById('txtCreatedAt');
                   // ✅ Using UTC (universal coordinated time)
                   dateInput.value = moment().format('YYYY-MM-DD hh:mm:ss');
                   console.log(new Date().toISOString().split('T')[0]);
            </script>
          <div class="mb-3">
            <label for="txtActive" class="form-label">Habilitado</label>
            <select class="form-select form-select-md" name="txtActive" id="txtActive" required>
                <option value="1" selected>Habilitado</option>
                <option value="0">No habilitado</option>
            </select>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  
<br>
{% with messages = get_flashed_messages() %}

    {% if messages  %}
    <br>
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
      <div class="col lg-2">
       
        <form action="/admin/signatures" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <select class="form-select form-select-md" onchange="filter()" name="txtFilter" id="txtFilter">
            <option value="" disabled selected value>Seleccionar</option>
            <option value="0">Materia</option>
            <option value="1">Carrera</option>
            <!-- <option value="2">Docente</option> -->
            <option value="3">Habilitado</option>
            </select>
      </div> 
      <div class="col lg-2" id="filterPerson" style="display:none ;">
        <select class="form-select form-select-md" name="txtTeacherFilter" id="txtTeacherFilter">
          <option value="" disabled selected value>Seleccionar</option>
          {% for person in allPersons %}
          <option value="{{person[10]}}">{{person[1]}}</option>
          {% endfor %}
          </select>
      </div>
      <div class="col lg-2" id="filterSignature" style="display:none ;">
        <select class="form-select form-select-md" name="txtSignatureFilter" id="txtSignatureFilter">
          <option value="" disabled selected value>Seleccionar</option>
          {% for signature in allSignatures %}
          <option value="{{signature[0]}}">{{signature[1]}}</option>
          {% endfor %}
          </select>
      </div>
      <div class="col lg-2" id="filterCareer" style="display:none ;">
        <select class="form-select form-select-md" name="txtCareerFilter" id="txtCareerFilter">
          <option value="" disabled selected value>Seleccionar</option>
          {% for career in allCareers %}
          <option value="{{career[2]}}">{{career[1]}}</option>
          {% endfor %}
          </select>
      </div>
      <div class="col lg-2" id="filterActive" style="display:none ;">
        <select class="form-select form-select-md" name="txtActiveFilter" id="txtActiveFilter">
          <option value="" disabled selected value>Seleccionar</option>
          <option value="1">Habilitado</option>
          <option value="0">No habilitado</option>
          </select>
      </div>
      <div class="col lg-4"  style="display: none;" id="filterButton">
        <button class="btn btn-primary" type="submit">Filtrar</button>
      </div>
      </form>
      <script>
        function filter(){
          var filterButton = document.getElementById('filterButton');
          var filterPerson = document.getElementById('filterPerson');
          var filterSignature = document.getElementById('filterSignature');
          var filterCareer = document.getElementById('filterCareer');
          var sel = document.getElementById('txtFilter');
          var val = sel.options[sel.selectedIndex].value;
          console.log(val);
          if (val == '0'){
            if (filterSignature.style.display === 'none'){
              filterSignature.style.display = 'inline-block';
              filterButton.style.display = 'inline-block';
              filterCareer.style.display = 'none';
              filterPerson.style.display = 'none';
              filterActive.style.display = 'none';
            }
            else {
              filterSignature.style.display = 'none';
            }
          }
          if (val == '1'){
            if (filterCareer.style.display === 'none'){
              filterCareer.style.display = 'inline-block';
              filterButton.style.display = 'inline-block';
              filterPerson.style.display = 'none';
              filterSignature.style.display = 'none';
              filterActive.style.display = 'none';
            }
            else {
              filterCareer.style.display = 'none';
            }
          }
          if (val == '2'){
            if (filterPerson.style.display === 'none'){
              filterPerson.style.display = 'inline-block';
              filterButton.style.display = 'inline-block';
              filterSignature.style.display = 'none';
              filterCareer.style.display = 'none';
              filterActive.style.display = 'none';
            }
            else {
              filterPerson.style.display = 'none';
            }
          }
          if (val == '3'){
            if (filterActive.style.display === 'none'){
              filterActive.style.display = 'inline-block';
              filterButton.style.display = 'inline-block';
              filterPerson.style.display = 'none';
              filterSignature.style.display = 'none';
              filterCareer.style.display = 'none';
            }
            else {
              filterActive.style.display = 'none';
            }
          }

        }
        
      </script>
      <div class="col lg-6">
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
    <br>
  <a name="" id="" class="btn btn-primary" href="{{ url_for('signatures_form')}}" role="button">Ver Todos</a>
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cód. Materia </th>
                <th scope="col">Carrera</th>
                <!-- <th scope="col">Docente</th> -->
                <th scope="col">Habilitado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for signature in allSignatures %}
            <tr class="">
                <td scope="row">{{signature[1]}}</td>
                <td>{{signature[2]}}</td>
                <td>{{signature[3]}}</td>
                <!-- <td>{{signature[4]}}</td> -->
                {% if signature[5] == 1 %}
                <td>Si</td>
                {% endif %}
                {% if signature[5] != 1 %}
                <td>No</td>
                {% endif %}
                <td>
                  <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{signature[0]}}" role="button">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <div class="modal fade" id="delete{{signature[0]}}" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editLabel">Eliminar Materia</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p><strong>Esta por eliminar a {{signature[1]}}!</strong></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <a class="btn btn-primary" href="{{ url_for('delete_signatures',id=signature[0])}}" role="button">Aceptar</a>
                      </div>
                  </div>
                </div>
               </div> 
                <a class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#edit{{signature[0]}}" role="button">
                  <i class="fa-solid fa-pen-to-square"></i>
              </a>
                <!-- Modal Nuevo Profesor -->
<div class="modal fade" id="edit{{signature[0]}}" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="editLabel">Editar Materia</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p><strong>Tilde las opciones que va a actualizar.</strong></p>
    <form action="/admin/signatures/edit" method="post">  
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="txtId" value="{{signature[0]}}">
    <div class="mb-3">
      <input type="checkbox" name="chkName" id="chkName" value="yes" style="margin: 0 3px;"><label for="txtName" class="form-label">Nombre</label>
      <input type="text" name="txtName" id="txtName" placeholder="{{signature[1]}}" class="form-control"  aria-describedby="helpId">
    </div>
    <div class="mb-3">
      <input type="checkbox" name="chkCode" id="chkCode" value="yes" style="margin: 0 3px;"><label for="txtCode" class="form-label">Código</label>
      <input type="text" name="txtCode" id="txtCode" placeholder="{{signature[2]}}" class="form-control"  aria-describedby="helpId">
    </div>
    <!-- <div class="mb-3">
      <input type="checkbox" name="chkTeacher" id="chkTeacher" value="yes" style="margin: 0 3px;"><label for="txtTeacher" class="form-label">Docente</label>
            <select class="form-select form-select-md" name="txtTeacher" id="txtTeacher">
            <option value="{{signature[7]}}" selected>{{signature[4]}}</option>
            {% for person in allPersons %}
            {% if person[1] != signature[4] %}  
            <option value="{{person[10]}}">{{person[1]}}</option>
            {% endif %}
            {% endfor %}
            </select>
    </div> -->
    <div class="mb-3">
      <input type="checkbox" name="chkCareerFrom" id="chkCareerFrom" value="yes" style="margin: 0 3px;"><label for="txtCareerFrom" class="form-label">Carrera</label>
      <select class="form-select form-select-md" name="txtCareerFrom" id="txtCareerFrom">
      <option value="{{signature[8]}}" selected >{{signature[3]}}</option>
      {% for career in allCareers %}
      {% if career[1] != signature[3] %}  
      <option value="{{career[2]}}">{{career[1]}}</option>
      {% endif %}
      {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <input type="checkbox" name="chkActive" id="chkActive" value="yes" style="margin: 0 3px;"><label for="txtActive" class="form-label">Estado</label>
      <select class="form-select form-select-md" name="txtActive" id="txtActive">
          <option value="1" selected>Habilitado</option>
          <option value="0">No Habilitado</option>
      </select>
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
</div>
</div>
</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  

  {% include 'user_admin/footer.html' %}