{% include 'user_admin/header_forms.html' %}
{{ moment.include_moment() }}
<header>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
            {% if current_user.rol == 'admin' %}
            <a class="nav-item nav-link active" href="{{ url_for('user_admin') }}" aria-current="page">Inicio</span></a>
            {% endif %}
            {% if current_user.rol == 'aux' %}
            <a class="nav-item nav-link active" href="{{ url_for('user_aux') }}" aria-current="page">Inicio</span></a>
            {% endif %}<a role="button" class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Profesores</a>
          <a class="nav-item nav-link" href="{{ url_for('logout') }}">Salir</a>
          <p class="nav-item nav-link active"><strong> Día y hora actual: {{ moment().format('DD-MM-YYYY hh:mm:ss') }}</strong></p>
        </div>
    </nav>
</header>
<div class="container">
    
<!-- Modal Nuevo Profesor -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Profesor</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/teachers/save" method="post">  
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="mb-3">
            <label for="txtFullname" class="form-label">Apellido y Nombre</label>
            <input type="text" name="txtFullname" id="txtFullname" class="form-control" aria-describedby="helpId" required>
            </div>
          <div class="mb-3">
            <label for="txtCodeTeacher" class="form-label">Codigo <strong><span id="demoTeacher" style="color: orangered;"></span></strong></label>
            <input type="number"  onfocus="maxCode()" name="txtCodeTeacher" id="txtCodeTeacher" class="form-control" aria-describedby="helpId" placeholder="código" required>
          </div>
          <input type="hidden" name="" id="test" value="{{max_code}}">
          <script>
            function maxCode(){
              val = document.getElementById('test').value
              val = parseInt(val, 10) + 1
              document.getElementById('demoTeacher').innerHTML = "(código sugerido "+ val + ")"
            }
          </script>
          <div class="mb-3">
            <label for="txtAddress" class="form-label">Dirección</label>
            <input type="text" name="txtAddress" id="txtAddress" class="form-control" aria-describedby="helpId" required>
          </div>
          <div class="mb-3">
            <label for="txtCity" class="form-label">Localidad</label>
            <input type="text" name="txtCity" id="txtCity" class="form-control" aria-describedby="helpId" required>
          </div>
          <div class="mb-3">
            <label for="txtBirthDate" class="form-label">Fecha de Nacimiento</label>
            <input type="date" name="txtBirthDate" id="txtBirthDate" class="form-control" aria-describedby="helpId" required>
          </div>
          <div class="mb-3">
            <label for="txtDU" class="form-label">Doc. de Identidad</label>
            <input type="text" name="txtDU" id="txtDU" class="form-control" aria-describedby="helpId" required placeholder="Ingrese su DNI sin puntos ni comas.">
          </div>
          <div class="mb-3">
            <label for="txtPhoneNumber" class="form-label">Teléfono</label>
            <input type="text" name="txtPhoneNumber" id="txtPhoneNumber" class="form-control" aria-describedby="helpId" required>
          </div>
          <div class="mb-3">
            <label for="txtEmail" class="form-label">Correo electrónico</label>
            <input type="text" name="txtEmail" id="txtEmail" class="form-control" aria-describedby="helpId" required>
          </div>
           <input type="hidden" name="txtCreatedAt" id="txtCreatedAt" class="form-control" aria-describedby="helpId">
           <script>
            const dateInput = document.getElementById('txtCreatedAt');
                 // ✅ Using UTC (universal coordinated time)
                 dateInput.value = moment().format('YYYY-MM-DD hh:mm:ss');
                 console.log(new Date().toISOString().split('T')[0]);
            </script>
           <input type="hidden" name="txtRole" id="txtRole" class="form-control"  aria-describedby="helpId" value="teacher">
          <div class="mb-3">
            <label for="txtActive" class="form-label">Estado</label>
            <select class="form-select form-select-md" name="txtActive" id="txtActive" required>
                <option value="1" selected>Habilitado</option>
                <option value="0">No Habilitado</option>
            </select>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  
<br>
<div class="row">
  <div class="col lg-2">
   
    <form action="/admin/teachers" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <select class="form-select form-select-md" onchange="filter()" name="txtFilter" id="txtFilter">
        <option value="" disabled selected value>Seleccionar</option>
        <option value="0">Docente</option>
        <option value="1">Habilitado</option>
        </select>
  </div> 
  <div class="col lg-2" id="filterPerson" style="display:none ;">
    <select class="form-select form-select-md" name="txtTeacherFilter" id="txtTeacherFilter">
      <option value="" disabled selected value>Seleccionar</option>
      {% for person in allPersons %}
      <option value="{{person[10]}}">{{person[1]}}</option>
      {% endfor %}
      </select>
  </div>
  <div class="col lg-2" id="filterActive" style="display:none ;">
    <select class="form-select form-select-md" name="txtActiveFilter" id="txtActiveFilter">
      <option value="" disabled selected value>Seleccionar</option>
      <option value="1">Habilitado</option>
      <option value="0">No habilitado</option>
      </select>
  </div>
  <div class="col lg-4"  style="display: none;" id="filterButton">
    <button class="btn btn-primary" type="submit">Filtrar</button>
  </div>
  </form>
  <script>
    function filter(){
      var filterButton = document.getElementById('filterButton');
      var filterPerson = document.getElementById('filterPerson');
      var sel = document.getElementById('txtFilter');
      var val = sel.options[sel.selectedIndex].value;
       if (val == '0'){
        if (filterPerson.style.display === 'none'){
          filterPerson.style.display = 'inline-block';
          filterButton.style.display = 'inline-block';
          filterActive.style.display = 'none';
        }
        else {
          filterPerson.style.display = 'none';
        }
      }
      if (val == '1'){
        if (filterActive.style.display === 'none'){
          filterActive.style.display = 'inline-block';
          filterButton.style.display = 'inline-block';
          filterPerson.style.display = 'none';
        }
        else {
          filterActive.style.display = 'none';
        }
      }

    }
    
  </script>

  <div class="col lg-6">
    <!-- <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav> -->
  </div>
</div> 
<br>
<a name="" id="" class="btn btn-primary" href="{{ url_for('teachers_form')}}" role="button">Ver Todos</a> 
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Apellido y Nombre</th>
                <th scope="col">Código</th>
                <th scope="col">Dirección</th>
                <th scope="col">Localidad</th>
                <th scope="col">Correo</th>
                <th scope="col">DNI</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for person in allPersons %}
            <tr class="">
                <td scope="row">{{person[1]}}</td>
                <td>{{person[10]}}</td>
                <td>{{person[2]}}</td>
                <td>{{person[3]}}</td>
                <td>{{person[7]}}</td>
                <td>{{person[5]}}</td>
                <td>{{person[6]}}</td>
                
                {% if person[11] == 1 %}
                <td>Si</td>
                {% endif %}
                {% if person[11] != 1 %}
                <td>No</td>
                {% endif %}
                <td>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{person[0]}}" role="button">
                        Eliminar
                    </a>
                    <div class="modal fade" id="delete{{person[0]}}" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editLabel">Editar Profesor</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p><strong>Esta por eliminar a {{person[1]}}!</strong></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <a class="btn btn-primary" href="{{ url_for('delete_teachers',id=person[0])}}" role="button">Aceptar</a>
                          </div>
                      </div>
                    </div>
                   </div> 
                    <a class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#edit{{person[0]}}" role="button">
                      Editar
                  </a>
                    <!-- Modal Nuevo Profesor -->
<div class="modal fade" id="edit{{person[0]}}" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editLabel">Editar Profesor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Tilde las opciones que va a actualizar.</strong></p>
        <form action="/admin/teachers/edit" method="post">  
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="txtId" value="{{person[0]}}">
        <div class="mb-3">
          <label for="txtFullname" class="form-label">Apellido y Nombre</label>
          <input type="text" name="txtFullname" id="txtFullname" placeholder="{{person[1]}}" class="form-control"  aria-describedby="helpId" disabled>
        </div>
        <div class="mb-3">
          <input type="checkbox" name="chkAddress" id="chkAddress" value="yes" style="margin: 0 3px;"><label for="txtAddress" class="form-label">Dirección</label>
          <input type="text" name="txtAddress" id="txtAddress" class="form-control" aria-describedby="helpId" placeholder="{{person[2]}}">
        </div>
        <div class="mb-3">
          <input type="checkbox" name="chkCity" id="chkCity" value="yes" style="margin: 0 3px;"><label for="txtCity" class="form-label">Localidad</label>
          <input type="text" name="txtCity" id="txtCity" class="form-control" aria-describedby="helpId" placeholder="{{person[3]}}">
        </div>
        <div class="mb-3">
          <input type="checkbox" name="chkPhoneNumber" id="chkPhoneNumber" value="yes" style="margin: 0 3px;"><label for="txtPhoneNumber" class="form-label">Teléfono</label>
          <input type="text" name="txtPhoneNumber" id="txtPhoneNumber" class="form-control" aria-describedby="helpId" placeholder="{{person[6]}}">
        </div>
        <div class="mb-3">
          <input type="checkbox" name="chkEmail" id="chkEmail" value="yes" style="margin: 0 3px;"><label for="txtEmail" class="form-label">Correo electrónico</label>
          <input type="text" name="txtEmail" id="txtEmail" class="form-control" aria-describedby="helpId" placeholder="{{person[7]}}">
        </div>
        <div class="mb-3">
          <input type="checkbox" name="chkActive" id="chkEmail" value="yes" style="margin: 0 3px;"><label for="txtActive" class="form-label">Estado</label>
          <select class="form-select form-select-md" name="txtActive" id="txtActive">
              <option value="1" selected>Habilitado</option>
              <option value="0">No Habilitado</option>
          </select>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
  </form>
    </div>
  </div>
</div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>


  {% include 'user_admin/footer.html' %}