<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Custom Css -->
    {% block customCSS %}
    {% endblock  %}
</head>

<body>
  {% block body %}
    <header>
      <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="nav navbar-nav">
              <a class="nav-item nav-link active" href="#" aria-current="page">Home</span></a>
              <a class="nav-item nav-link" href="{{ url_for('careers_form') }}">Carreras</a>
              <a class="nav-item nav-link" href="{{ url_for('signatures_form') }}">Materias</a>
              <a class="nav-item nav-link" href="{{ url_for('teachers_form') }}">Profesores</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
          </div>
      </nav>
  </header>
  {% endblock  %}

  