{% include 'user_aux/header.html' %}
<div class="container">
{% block body %}
<br>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-success border rounded-3">
            <h2>Bienvenidos a ITES!</h2>
            <p>Este el panel de control principal, podrá realizar todas las operaciones relacionadas a la gestion del Instituto</p>
        </div>
    </div>
    <div class="col-md-6">
        <div
            class="h-100 border bg-success rounded-3 text-center">
            <img src="{{ url_for('static', filename='img/frente_ites.jpg')}}" alt="Frente ites" width="250px" height="170px" style="margin-top: 20px;">
        </div>
    </div>
</div>
{% endblock %}
</div>

{% include 'user_aux/footer.html' %}